@media screen and (min-width:320px) and (max-width:1080px){
   
    .right-section{
        width: 100%;
    }
    .hero-body{
        display:inline-block;  
    
    }
    .right-section{
        padding: 0%;
       
    }
    #hero-row{
        padding: 20px;
    }
    
    p{
      font-weight: 700;
    }
   
    #sign-in{
      width: 100%;
      height: 50px;
    }
    .form-control{
      height: 40px;
    }
    .form-control ,.btn{
      border-radius: 5px;
    }
    hr:not([size]) {
      height: 2px;
    }
    .fab{
      margin-left: 10px;
    }
    .password-area{
      margin-bottom: px;
    }
    
    .input-area{
      width: 90%;
      border-radius: 10px;
    }
    
    .submit{
      margin-left: 115px;
      border: 1px solid black;
      border-radius: 10px;
    }
    .radio{
      margin-left: 25px;
    }
    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 20px;
    }
    .rounded-left{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px!important;
    }
    
    .rounded-right{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 0px!important;
  

    }
    .left-section img{
        width: 80px;
        height: 80px;
    }
    
  
}


.rounded-left{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.rounded-right{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
.left-section {
  background-color:  #0f79cd!important;
}
.left-section h1 {
  text-shadow: greenyellow 5px 5px;
}
#sign-in{
  background-color: greenyellow;
}